<div id="<%= editor_id %>" class="oblakoeditor">
	<%= raw content unless content.nil? %>
</div>

<% if Oblakoeditor.custom_initializer %>
	<%= javascript_include_tag Oblakoeditor.custom_initializer_asset %>
<% else %>
	<script type="text/javascript">
		OblakoEditor.editor = new MediumEditor('#<%= editor_id %>', {
			// Core
			<% attrs = %w(activeButtonClass allowMultiParagraphSelection buttonLabels contentWindow delay disableReturn disableDoubleReturn disableExtraSpaces disableEditing elementsContainer ownerDocument spellcheck targetBlank) %>
			<% attrs.each do |a| %>
				<%= write_value a, settings.core.send(a) %>
			<% end %>

			// Toolbar
			<% if settings.toolbar.enabled %>
				toolbar: {
					<% attrs = %w(enabled allowMultiParagraphSelection buttons diffLeft diffTop standardizeSelectionStart firstButtonClass lastButtonClass static align sticky updateOnEmptySelection) %>
					<% attrs.each do |a| %>
						<%= write_value a, settings.toolbar.send(a) %>
					<% end %>
				},
			<% else %>
				toolbar: false,
			<% end %>

			// AnchorPreview
			<% if settings.anchorPreview.enabled %>
				anchorPreview: {
					<%= write_value "hideDelay", settings.anchorPreview.hideDelay %>
					<%= write_value "previewValueSelector", settings.anchorPreview.previewValueSelector %>
					<%= write_value "showWhenToolbarIsVisible", settings.anchorPreview.showWhenToolbarIsVisible %>
				},
			<% else %>
				anchorPreview: false,
			<% end %>

			// Placeholder
			<% if settings.placeholder.enabled %>
				placeholder: {
					<%= write_value 'text', settings.placeholder.text %>
					<%= write_value 'hideOnClick', settings.placeholder.hideOnClick %>
				},
			<% else %>
				placeholder: false,
			<% end %>

			// Anchor Form
				anchor: {
					<% attrs = %w(customClassOption customClassOptionText linkValidation placeholderText targetCheckbox targetCheckboxText) %>
					<% attrs.each do |a| %>
						<%= write_value a, settings.anchorForm.send(a) %>
					<% end %>
				},

			// Paste Options
			<% if settings.paste.enabled %>
				paste: {
					<% attrs = %w(forcePlainText cleanPastedHTML cleanReplacements cleanAttrs cleanTags) %>
					<% attrs.each do |a| %>
						<%= write_value a, settings.paste.send(a) %>
					<% end %>
				},
			<% else %>
				paste: {
					forcePlainText: false,
					cleanPastedHTML: false,
				},
			<% end %>

			// KeyboardCommands
			<% if settings.keyboardCommands.enabled %>
				keyboardCommands: {
					<%= write_value 'commands', settings.keyboardCommands.commands %>
				},
			<% else %>
				keyboardCommands: false,
			<% end %>

			// Auto Link
			<% if settings.autoLink.enabled %>
				autoLink: true,
			<% else %>
				autoLink: false,
			<% end %>

			// Image Dragging
			<% if settings.imageDragging.enabled && !settings.imageDragging.useInsertPlugin %>
				imageDragging: true,
			<% else %>
				imageDragging: false,
			<% end %>

			// Tables
			extensions: {
				<% if settings.tables.enabled %>
					'table': new MediumEditorTable({
						<%= write_value 'rows', settings.tables.rows %>
						<%= write_value 'columns', settings.tables.columns %>
					}),
					<% if settings.tables.useEditor %>
						'table-editor': new OblakoEditor.extensions.tableEditor(),
					<% end %>
					<% if settings.tables.arrowKeys %>
						'table-arrow-keys': new OblakoEditor.extensions.tableArrowKeys(),
					<% end %>
				<% end %>
				<% if settings.toolbar.buttons.include?('custom-header') %>
					'custom-header': new OblakoEditor.extensions.header(),
				<% end %>
				<% if settings.toolbar.buttons.include?('custom-quote') %>
					'custom-quote': new OblakoEditor.extensions.quote(),
				<% end %>
				<% if settings.toolbar.buttons.include?('custom-ul') %>
					'custom-ul': new OblakoEditor.extensions.unorderedList(),
				<% end %>
				<% if settings.toolbar.buttons.include?('custom-ol') %>
					'custom-ol': new OblakoEditor.extensions.orderedList(),
				<% end %>
				<% if settings.imageDragging.enabled && settings.imageDragging.useInsertPlugin && settings.insert.enabled && settings.insert.images.enabled %>
					'image-dragging': new OblakoEditor.extensions.imageDragging(),
				<% end %>
				<% if settings.fixes.enabled %>
					'custom-fixes': new OblakoEditor.extensions.fixes(),
				<% end %>
			},
		});

		<% if settings.insert.enabled %>
			OblakoEditor.mediumInsertEnabled = true;
			$('#<%= editor_id %>').mediumInsert({
				editor: OblakoEditor.editor,
				addons: {
					<% if settings.insert.images.enabled %>
						images: {
							<% attrs = %w(label deleteScript deleteMethod preview captions captionPlaceholder autoGrid fileUploadOptions fileDeleteOptions messages uploadCompleted) %>
							<% attrs.each do |a| %>
								<%= write_value a, settings.insert.images.send(a) %>
							<% end %>
						},
					<% else %>
						images: false,
					<% end %>
					<%= write_value 'embeds', settings.insert.embeds.enabled %>
					<% if settings.insert.razdatkaNote.enabled %>
						RazdatkaNote: {},
					<% else %>
						RazdatkaNote: false,
					<% end%>
				}
			});

			<% if settings.tables.enabled && settings.tables.useInsertPlugin %>
				var element = $(OblakoEditor.editor.getExtensionByName('table').getButton()).addClass('medium-insert-action medium-insert-table');
				var parent = element.parent().detach().appendTo($('ul.medium-insert-buttons-addons'));
				var element_1 = $('div.medium-editor-table-builder').detach().appendTo($('ul.medium-insert-buttons-addons'));
			<% end %>
		<% else %>
			OblakoEditor.mediumInsertEnabled = false;
		<% end %>

		<% if settings.tables.enabled %>
			// Disable built-in table editing in Firefox
			document.execCommand("enableInlineTableEditing", null, false);
			document.execCommand("enableObjectResizing", null, false);
		<% end %>

		<% if settings.fixes.enabled %>
			OblakoEditor.editor.getExtensionByName('custom-fixes').setup();
		<% end %>

		OblakoEditor.getEditorContent = function() {
			return OblakoEditor.editor.serialize().<%= editor_id %>.value.trim();
		}
		OblakoEditor.destroyEditor = function() {
			OblakoEditor.editor.destroy();
		}
	</script>
<% end %>