/*
 *= require oblakoeditor-vendor
 *= require_tree .
 *= require_self
 */

// Mixins

@mixin oblako-svg-img($image, $width, $height) {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: asset-url('oblakoeditor/' + $image + '.png');
	background-image: linear-gradient(transparent, transparent), asset-url('oblakoeditor/' + $image + '.svg');
	background-size: $width $height;
}

@mixin box-shadow($arguments) {
	-webkit-box-shadow: $arguments;
	-moz-box-shadow: $arguments;
	box-shadow: $arguments;
}

@mixin transition($duration:0.2s, $ease:ease-out) {
	-webkit-transition: all $duration $ease;
	-moz-transition: all $duration $ease;
	-o-transition: all $duration $ease;
	transition: all $duration $ease;
}

// Toolbar

.medium-editor-toolbar-actions-common {
	li {
		width: 40px;
		height: 40px;
		float: left;
		line-height: 40px;
		margin: 0 3px 0 2px !important;
		list-style: none;
		padding: 0;
		border: 0 none;
		outline-color: transparent;
		button {
			cursor: pointer;
			border: none;
			display: block;
			outline-color: transparent;
			outline-width: 0;
			outline: 0;
			border: 0 none;
			width: 40px;
			height: 40px;
			background: transparent;
			@include box-shadow(0 0 0 rgba(0,0,0,0));
			-webkit-filter: grayscale(90%);
			filter: grayscale(90%);
			@include transition();
		}
	}
}

.medium-editor-stalker-toolbar .medium-editor-toolbar-actions {
	@extend .medium-editor-toolbar-actions-common;
	li button {
		text-indent: -9999em;
		& * {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
		&.medium-editor-button-active {
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
		}
		&.medium-editor-action-bold {
			@include oblako-svg-img('bold', 40px, 40px);
		}
		&.medium-editor-action-italic {
			@include oblako-svg-img('italic', 40px, 40px);
		}
		&.medium-editor-action-anchor {
			@include oblako-svg-img('link', 40px, 40px);
		}
		&.medium-editor-action-h3 {
			@include oblako-svg-img('header', 40px, 40px);
		}
		&.medium-editor-action-quote {
			@include oblako-svg-img('quote', 40px, 40px);
		}
		&.medium-editor-action-orderedlist {
			@include oblako-svg-img('ordered-list', 40px, 40px);
		}
		&.medium-editor-action-unorderedlist {
			@include oblako-svg-img('unordered-list', 40px, 40px);
		}
		&.medium-editor-action-justifyLeft {
			@include oblako-svg-img('align_left', 40px, 40px);
		}
		&.medium-editor-action-justifyCenter {
			@include oblako-svg-img('align_center', 40px, 40px);
		}

		// custom buttons
		&.medium-editor-action-custom-header {
			@include oblako-svg-img('header', 40px, 40px);
		}
		&.medium-editor-action-custom-quote {
			@include oblako-svg-img('quote', 40px, 40px);
		}
		&.medium-editor-action-custom-ul {
			@include oblako-svg-img('unordered-list', 40px, 40px);
		}
		&.medium-editor-action-custom-ol {
			@include oblako-svg-img('ordered-list', 40px, 40px);
		}
	}
}

.medium-insert-images-toolbar, .medium-insert-images-toolbar2 .medium-editor-toolbar-actions {
	@extend .medium-editor-toolbar-actions-common;
}

// Insert plugin

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
	@include oblako-svg-img('add_content', 27px, 27px);
	& * {
		display: none;
	}
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-addons li { 
	width: 32px;
	height: 32px;
	list-style: none;
	margin: 0 9px 0 0 !important;
	float: left;
	a {
		border: 0;
		span {
			display: block;
			width: 32px;
			height: 32px;
			&:before {
				display: none !important;
				content: '' !important;
			}
			&.fa-camera {
				@include oblako-svg-img('image_g', 28px, 21px);
				background-color: #ffffff;
			}
			&.fa-youtube-play {
				display: block !important; // because of adblock
				@include oblako-svg-img('video', 27px, 23px);
			}
			&.fa-table {
				@include oblako-svg-img('table', 21px, 21px);
			}
			&.icon-embed {
				@include oblako-svg-img('audio', 25px, 26px);
			}
			&.icon-office {
				@include oblako-svg-img('audio', 25px, 26px);
			}
		}
	}
	button {
		// text-indent: -9999em;
		display: block;
		// border: 0 none;
		outline: none;
		width: 32px;
		height: 32px;
		background-color: transparent;
		cursor: pointer;
		padding: 0;
		margin: 0;
		&.medium-insert-table {
			@include oblako-svg-img('table', 21px, 21px);
			color: transparent;
		}
	}
	.medium-insert-draw-line {
		@include oblako-svg-img('placeholder', 21px, 21px);
		width: 20px;
		&:before {
			color: transparent;
		}
	}
}

// From main.scss

.medium-toolbar-arrow-under:after { 
	display: none !important;
}
.medium-toolbar-arrow-over:before { 
	display: none;
}

.medium-editor-toolbar { 
	margin-top: 2px; 
}

.medium-editor-toolbar-form {
	background: #8db2e3;
	color: #fff;
	border-radius: 5px; 
	.medium-editor-toolbar-input {
		height: 44px;
		background: transparent;
		border: 0 none;
		padding: 0 10px;
		color: #fff;
		box-sizing: border-box;
		font-size: 16px;
		&::-webkit-input-placeholder {
			color:#e7e7e7;
			font-family: 'a_futuraround', Arial, sans-serif;
			font-size: 16px;
		}
		&::-moz-input-placeholder {
			color:#e7e7e7;
			font-family: 'a_futuraround', Arial, sans-serif;
			font-size: 16px;
		}
		&::-ms-input-placeholder  {
			color:#e7e7e7;
			font-family: 'a_futuraround', Arial, sans-serif;
			font-size: 16px;
		}
	}
	a {
		color: #fff; 
	}
}

.medium-editor-toolbar-anchor-preview {
	background: #8db2e3;
	color: #fff;
	border-radius: 5px; 
}

.medium-editor-placeholder:after {
	color: #ACAFB3;
	font-style: normal; 
}

section:first-child>.section-divider, section.is-backgrounded+section>.section-divider {
	display: none;
}

.medium-editor-table-builder {
	top: 32px;
	margin-left: 5px;
}

// Table editor toolbar
.medium-editor-table-editor-toolbar {
	position: absolute;
	display: none;
	width: 169px;
	left: 0;
	top: 101%;
	background-color: #333;
	font-size: 0.8em;
	color: white;
	* {
		box-sizing: border-box;
	}
	span {
		width: 52px;
		display: block;
		float: left;
		margin-left: 5px;
	}
	button {
		margin: 0 3px;
		background-color: #333;
		border: 0;
		width: 30px;
		cursor: pointer;
		outline: none;
		i {
			color: white;
		}
	}
}

// Fixes
.oblakoeditor {
	overflow-x: auto;
	// Removes inconsistencies between different browsers' behaviour how they deal with h3 and bold combination
	h3 {
		font-weight: normal;
	}
	// Pasted table cells with no content are shown more or less normally
	table {
		width: 100%;
		td {
			height: 1.3em;
		}
	}
	p {
		min-height: 1em;
	}
	.placeholder-block {
		&::before {
			content: '';
			display: block;
			width: 100%;
			border-bottom: 1px solid rgba(0, 0, 0, 0.35);
		}
	}
	.medium-insert-images {
		max-width: 100%;
	}
}

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show {
	&::-moz-selection{
		background: white;
	}
	&::selection{
		background: white;
	}
}
